---
layout: default
---
            <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
            <span class="post-meta"style="margin-left: 0.5em">{{ page.date | date: "%b %-d, %Y" }}</span>
            <div class="post-content" style="border: ridge;padding: 1em;margin-bottom: 2em">
                {{ content }}
                <span class="post-meta"style="margin-left: 0.5em">#{{ page.tag }}</span>

            </div>


            <hr>
        
        <nav style="margin-bottom: 3em;">
            <div align="right" style="float:left;margin: auto auto;width: 40%">
            {% if page.next %}
                <a href="{{ page.next.url }}">
                    Next<br>
                    &lt;&lt; {{ page.next.title }}
                </a>
            {% endif %}
            </div>
            <div align="left" style="float:right;margin: auto auto;width: 40%">
            {% if page.previous %}
                <a href="{{ page.previous.url }}">
                    Previous<br>
                    {{ page.previous.title }} &gt;&gt;
                </a>
            {% endif %}
            </div>
        </nav>
        <div style="clear:both"></div>
